/venv/
/simh/
/pdp11dasm/
/.idea/
/OLD_gui/.idea/.gitignore
/OLD_gui/client/.idea/.gitignore
/asm/a.out
/asm/a1.out
/asm/a1_new.out
/asm/a2.out
/pdp11dasm/a_as1.ctl
/asm/a_as1.dis
/asm/a_as1.out
/pdp11dasm/a_as1.out.das
/asm/a_as2.out
/asm/ref/as_pdp.dis
/OLD_gui/client/src/as_pdp.dis
/asm/ref/as_pdp.out
/asm/ref/as_pdp (as compiled on SimH PDP11).out
/OLD_gui/client/.idea/client.iml
/OLD_gui/.idea/misc.xml
/OLD_gui/.idea/modules.xml
/OLD_gui/client/.idea/modules.xml
/pdp11dasm/.idea/modules.xml
/pdp11dasm/pdp11dasm
/pdp11dasm/.idea/pdp11dasm.iml
/pdp11dasm/pdp11dasm.o
/OLD_gui/.idea/inspectionProfiles/profiles_settings.xml
/OLD_gui/client/.idea/inspectionProfiles/profiles_settings.xml
/pdp11dasm/.idea/inspectionProfiles/profiles_settings.xml
/OLD_gui/.idea/inspectionProfiles/Project_Default.xml
/OLD_gui/client/.idea/inspectionProfiles/Project_Default.xml
/pdp11dasm/.idea/inspectionProfiles/Project_Default.xml
/asm/sysfix
/asm/trace.1
/asm/ref/trace.2
/asm/ref/trace.txt
/OLD_gui/.idea/vcs.xml
/OLD_gui/client/.idea/vcs.xml
/pdp11dasm/.idea/workspace.xml
/asm/doc/as annotations.docx
/asm/doc/as annotations.html
/asm/src/a.out
/asm/src/aout_trace.txt
/asm/src/trace.txt
