.src {
    display: inline-block;
    background-color: rgb(255, 247, 229);
}

.srcMarked {
    background-color: darkgray;
}

.idx {
    display: inline-block;
    background-color: rgb(255, 240, 200);
    border: 0;
}

.idxMarked {
    background-color: dodgerblue;
}

.button {
    width: 50px;
}

.pre {
    text-align: left;
    background-color: rgb(255, 247, 229);
    border: 1px solid black;
    overflow-y: scroll;
    overflow-x: auto;
    height: 500px;
    width: auto;
    margin-left: 0;
}

.sym {
    display: inline-block;
    background-color: rgb(255, 240, 200);
    border: 0;
    width: 60px;
}

.eq {
    width: auto;
}

.stackpre {
    background-color: rgb(255, 247, 229);
    max-height: 500px;
    width: auto;
}

.sympre {
    background-color: rgb(255, 247, 229);
    max-height: 500px;
    width: auto;
}

.varpre {
    background-color: rgb(255, 247, 229);
    max-height: 200px;
    width: auto;
}

.symhead {
    text-decoration: underline;
}

.log {
    text-align: left;
    overflow-y: auto;
    overflow-x: auto;
    margin-left: 0;
    height: 100px;
}

.log_old {
    text-align: left;
    background-color: gainsboro;
    border: 1px solid black;
    overflow-y: scroll;
    overflow-x: auto;
    height: 100px;
    width: 1000px;
    margin-left: 0;
    display: flex;
    flex-direction: column-reverse;
}